## Projeto 2

Para o Projeto 2 o objetivo é responder 10 perguntas de negócio a partir de um dataset sobre uma rede de varejo que comercializa diversos produtos em diversas cidades dos EUA.

Os dados são reais e foram extraídos do link:

https://community.tableau.com/s/question/0D54T00000CWeX8SAL/sample-superstore-sales-excelxlsFizemos

### Pacotes

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

### Leitura dos dados

In [2]:
df_dados = pd.read_csv('C:/Users/prisc/Downloads/dataset.csv')

### Analise exploratória dos dados

In [3]:
# Nome das colunas
print(df_dados.columns)

Index(['ID_Pedido', 'Data_Pedido', 'ID_Cliente', 'Segmento', 'Pais', 'Cidade',
       'Estado', 'ID_Produto', 'Categoria', 'SubCategoria', 'Valor_Venda'],
      dtype='object')

In [4]:
# Verificar o tipo de dado de cada coluna
df_dados.dtypes

ID_Pedido        object
Data_Pedido      object
ID_Cliente       object
Segmento         object
Pais             object
Cidade           object
Estado           object
ID_Produto       object
Categoria        object
SubCategoria     object
Valor_Venda     float64
dtype: object

In [5]:
df_dados.head(3)

,ID_Pedido,Data_Pedido,ID_Cliente,Segmento,Pais,Cidade,Estado,ID_Produto,Categoria,SubCategoria,Valor_Venda
0,CA-2017-152156,08/11/2017,CG-12520,Consumer,United States,Henderson,Kentucky,FUR-BO-10001798,Furniture,Bookcases,261.96
1,CA-2017-152156,08/11/2017,CG-12520,Consumer,United States,Henderson,Kentucky,FUR-CH-10000454,Furniture,Chairs,731.94
2,CA-2017-138688,12/06/2017,DV-13045,Corporate,United States,Los Angeles,California,OFF-LA-10000240,Office Supplies,Labels,14.62

In [6]:
print("Formato dados:", df_dados.shape)

Formato dados: (9700, 11)

In [7]:
# Convertendo a coluna 'data_objeto' para o tipo de data dd/mm/yyyy
df_dados['Data_Pedido'] = pd.to_datetime(df_dados['Data_Pedido'], format='%d/%m/%Y')

df_dados.dtypes

ID_Pedido               object
Data_Pedido     datetime64[ns]
ID_Cliente              object
Segmento                object
Pais                    object
Cidade                  object
Estado                  object
ID_Produto              object
Categoria               object
SubCategoria            object
Valor_Venda            float64
dtype: object

In [8]:
print(df_dados['Data_Pedido'][0])

2017-11-08 00:00:00

In [9]:
# Verificando se há registros duplicados
df_dados[df_dados.duplicated()]

Empty DataFrame
Columns: [ID_Pedido, Data_Pedido, ID_Cliente, Segmento, Pais, Cidade, Estado, ID_Produto, Categoria, SubCategoria, Valor_Venda]
Index: []

In [10]:
# Verificando de há valores ausentes
df_dados.isnull().sum()

ID_Pedido       0
Data_Pedido     0
ID_Cliente      0
Segmento        0
Pais            0
Cidade          0
Estado          0
ID_Produto      0
Categoria       0
SubCategoria    0
Valor_Venda     0
dtype: int64

In [13]:
# Amostra da tabela
df_dados.sample(3)

,ID_Pedido,Data_Pedido,ID_Cliente,Segmento,Pais,Cidade,Estado,ID_Produto,Categoria,SubCategoria,Valor_Venda
8486,CA-2017-158841,2017-02-02,SE-20110,Consumer,United States,Arlington,Virginia,OFF-BI-10002557,Office Supplies,Binders,36.40
3057,CA-2018-131492,2018-10-19,HH-15010,Corporate,United States,San Francisco,California,OFF-LA-10001641,Office Supplies,Labels,31.50
6852,US-2018-162670,2018-12-23,MF-18250,Corporate,United States,Little Rock,Arkansas,OFF-PA-10001994,Office Supplies,Paper,44.96

### Perguntas de negócio:

1) Qual Cidade com Maior Valor de Venda de Produtos da Categoria 'Office Supplies'?

In [14]:
# Ordenando os dados de Office Supplies por maior valor de venda
df_dados[df_dados['Categoria'] == 'Office Supplies'] \
        .sort_values(by='Valor_Venda', ascending=False)\
        [['Pais', 'Cidade','Estado', 'Valor_Venda']].head()

               Pais         Cidade      Estado  Valor_Venda
9036  United States        Detroit    Michigan      9892.74
4095  United States    Minneapolis   Minnesota      9449.95
2505  United States  San Francisco  California      8187.65
509   United States        Atlanta     Georgia      6354.95
6517  United States        Jackson    Michigan      5443.96

A Cidade com maior valor de venda para a categoria 'Office Supplies' é a cidade de Michigan com valor de venda de 9892,74.

Cidade com maior Total de vendas:

In [16]:
df_dados[df_dados['Categoria'] == 'Office Supplies']\
    .groupby("Cidade")['Valor_Venda'].sum().sort_values(ascending=False).head()

Cidade
New York City    68362.814
Los Angeles      47098.100
San Francisco    41771.198
Seattle          34856.878
Philadelphia     29313.687
Name: Valor_Venda, dtype: float64

A cidade com maior total de vendas para a categoria 'Office Supplies' é New York City, com total de 68362,814.

2) Qual o Total de Vendas Por Data do Pedido? Demonstre o resultado através de um gráfico.

In [ ]:
total_venda_por_data = df_dados.groupby('Data_Pedido')['Valor_Venda'].sum()

total_venda_por_data.to_frame().sort_values(by='Valor_Venda')

In [ ]:
plt.figure(figsize=(10, 5))  

total_venda_por_data.plot(x = 'Data_Pedido', y = 'Valor_Venda')

# Rotacionar eixo
plt.xticks(rotation=45)

# Adicionar rótulos e título
plt.xlabel('Data do Pedido')
plt.ylabel('Total de Venda')
plt.title('Valor Total de Vendas por Data de Pedido')


plt.show();

3) Qual o Total de Vendas por Estado? Demonstre o resultado através de um gráfico de barras.

In [ ]:
total_estado = df_dados.groupby('Estado')['Valor_Venda'].sum().reset_index()
total_estado.head()

In [ ]:
plt.figure(figsize = (10, 4))
sns.barplot(data = total_estado, 
            y = 'Valor_Venda', 
            x = 'Estado')
plt.title("Total de vendas por Estado")
plt.ylabel("Total vendas")
plt.xticks(rotation = 90)
plt.show()

4. Quais São as 10 Cidades com Maior Total de Vendas?Demonstre o resultado através de um gráfico de barras.

In [ ]:
top_10_vendas = total_estado.nlargest(10, 'Valor_Venda')
top_10_vendas["Posicao"] = range(1,11)
print("Os 10 estados com maior total de vendas são:")
top_10_vendas.iloc[:,[2,0,1]]

In [ ]:
plt.figure(figsize = (10, 4))
sns.barplot(data = top_10_vendas, 
            y = 'Valor_Venda', 
            x = 'Estado')
plt.title("Os 10 Estados com mais vendas")
plt.ylabel("Total vendas")
plt.xticks(rotation = 30)
plt.show()

5. Qual Segmento Teve o Maior Total de Vendas?Demonstre o resultado através de um gráfico de pizza

In [ ]:
total_segmento = df_dados.groupby('Segmento')['Valor_Venda'].sum().reset_index()

total_segmento

In [ ]:
plt.figure(figsize=(8, 6))
plt.pie(total_segmento['Valor_Venda'],labels = total_segmento['Segmento'] , autopct='%1.1f%%');
plt.title('Vendas por Segmento')
plt.show()

6. Qual o Total de Vendas Por Segmento e Por Ano?

In [ ]:
# Criando a variavel ano
df_dados["Ano"] = df_dados["Data_Pedido"].dt.year

# Agrupar por segmento e ano
df_dados.groupby(['Segmento','Ano'])['Valor_Venda'].sum()

In [ ]:
# Agrupar por Ano e segmento
df_dados.groupby(['Ano','Segmento'])['Valor_Venda'].sum()

7. Os  gestores  da  empresa  estão  considerando conceder  diferentes  faixas  de  descontos  e gostariam de fazer uma simulação com base na regra abaixo:
- Se o Valor_Venda for maior que 1000 recebe 15% de desconto.
- Se o Valor_Venda for menor que 1000 recebe 10% de desconto.

- Quantas Vendas Receberiam 15% de Desconto?

In [ ]:
# Soma o total de ocorrencias com valor de venda maior que 1000
n_vendas = (df_dados["Valor_Venda"] > 1000).sum()

print(n_vendas, "vendas receberiam 15% de desconto.")

8. Considere  Que  a  Empresa  Decida  Conceder  o  Desconto  de  15%  do  Item  Anterior.  Qual Seria a Média do Valor de Venda Antes e Depois do Desconto?

In [ ]:
media_antes = df_dados["Valor_Venda"].mean()

valor_venda_desconto= [v*0.85 if v > 1000 else v for v in df_dados["Valor_Venda"]]

media_depois = np.array(valor_venda_desconto).mean()

print("A Média do valor de vendas antes do desconto é de:", round(media_antes))
print("A Média do valor de vendas depois do desconto é de:", round(media_depois))

9. Qual o Média de Vendas Por Segmento, Por Ano e Por Mês?Demonstre o resultado através de gráfico de linha.

In [ ]:
df_dados.columns

In [ ]:
# Criando a coluna "mes"
df_dados["Mes"] = df_dados["Data_Pedido"].dt.month

media_venda = df_dados.groupby(['Segmento','Ano','Mes'])['Valor_Venda'].mean().reset_index()

media_venda

In [ ]:
# sns.lineplot(data = df_dados, x = "Mes", y = 'Valor_Venda',
#             hue = "Segmento", style="Segmento", ci=None);

g = sns.FacetGrid(df_dados, col='Ano', col_wrap=2, height=4, aspect=1)

g.map(sns.lineplot,"Mes", 'Valor_Venda',  "Segmento",  ci=None ).add_legend()

plt.show()

10. Qual o Total de Vendas Por Categoria e SubCategoria, Considerando Somente as Top 12 SubCategorias? Demonstre tudo através de um único gráfico

In [ ]:
top_categorias = df_dados.groupby(['Categoria','SubCategoria'])['Valor_Venda'].\
    sum().rename('Total_Venda').reset_index().\
        nlargest(12, 'Total_Venda').sort_values(by = ['Categoria','Total_Venda'], ascending = False)

top_categorias

In [ ]:
plt.figure(figsize=(12, 6))
sns.barplot(data=top_categorias, x='Total_Venda', y='SubCategoria', hue='Categoria')
plt.title("Top 12 Subcategorias com mais vendas")
plt.ylabel("Sub Categoria")
plt.xlabel("Total Vendas")

plt.show()