## Projeto 2

Para o Projeto 2 o objetivo é responder 10 perguntas de negócio a partir de um dataset sobre uma rede de varejo que comercializa diversos produtos em diversas cidades dos EUA.

Os dados são reais e foram extraídos do link:

https://community.tableau.com/s/question/0D54T00000CWeX8SAL/sample-superstore-sales-excelxlsFizemos

### Pacotes

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

### Leitura dos dados

In [21]:
df_dados = pd.read_csv('C:/Users/prisc/Downloads/dataset.csv')

### Analise exploratória dos dados

In [16]:
# Nome das colunas
print(df_dados.columns)

Index(['ID_Pedido', 'Data_Pedido', 'ID_Cliente', 'Segmento', 'Pais', 'Cidade',
       'Estado', 'ID_Produto', 'Categoria', 'SubCategoria', 'Valor_Venda'],
      dtype='object')

In [17]:
# Verificar o tipo de dado de cada coluna
df_dados.dtypes

ID_Pedido        object
Data_Pedido      object
ID_Cliente       object
Segmento         object
Pais             object
Cidade           object
Estado           object
ID_Produto       object
Categoria        object
SubCategoria     object
Valor_Venda     float64
dtype: object

In [19]:
# Verificando se há registros duplicados
df_dados[df_dados.duplicated()]

Empty DataFrame
Columns: [ID_Pedido, Data_Pedido, ID_Cliente, Segmento, Pais, Cidade, Estado, ID_Produto, Categoria, SubCategoria, Valor_Venda]
Index: []

In [20]:
# Verificando de há valores ausentes
df_dados.isnull().sum()

ID_Pedido       0
Data_Pedido     0
ID_Cliente      0
Segmento        0
Pais            0
Cidade          0
Estado          0
ID_Produto      0
Categoria       0
SubCategoria    0
Valor_Venda     0
dtype: int64

In [23]:
df_dados.sample(3)

,ID_Pedido,Data_Pedido,ID_Cliente,Segmento,Pais,Cidade,Estado,ID_Produto,Categoria,SubCategoria,Valor_Venda
1561,CA-2018-107293,05/09/2018,CS-12400,Home Office,United States,Seattle,Washington,OFF-AR-10003732,Office Supplies,Art,2.780
2661,CA-2018-123372,28/11/2018,DG-13300,Corporate,United States,New York City,New York,OFF-EN-10003055,Office Supplies,Envelopes,79.960
8769,CA-2018-115882,14/09/2018,DB-13555,Corporate,United States,Raleigh,North Carolina,OFF-PA-10001125,Office Supplies,Paper,74.352

### Perguntas de negócio:

1) Qual Cidade com Maior Valor de Venda de Produtos da Categoria 'Office Supplies'?

2) Qual o Total de Vendas Por Data do Pedido? Demonstre o resultado através de um gráfico de barras.

3) Qual o Total de Vendas por Estado?Demonstre o resultado através de um gráfico de barras.

4. Quais São as 10 Cidades com Maior Total de Vendas?Demonstre o resultado através de um gráfico de barras.

5. Qual Segmento Teve o Maior Total de Vendas?Demonstre o resultado através de um gráfico de pizza

6. Qual o Total de Vendas Por Segmento e Por Ano?

7. Os  gestores  da  empresa  estão  considerando conceder  diferentes  faixas  de  descontos  e gostariam de fazer uma simulação com base na regra abaixo:
- Se o Valor_Venda for maior que 1000 recebe 15% de desconto.
- Se o Valor_Venda for menor que 1000 recebe 10% de desconto.

- Quantas Vendas Receberiam 15% de Desconto?

8. Considere  Que  a  Empresa  Decida  Conceder  o  Desconto  de  15%  do  Item  Anterior.  Qual Seria a Média do Valor de Venda Antes e Depois do Desconto?

9. Qual o Média de Vendas Por Segmento, Por Ano e Por Mês?Demonstre o resultado através de gráfico de linha.

10. Qual o Total de Vendas Por Categoria e SubCategoria, Considerando Somente as Top 12 SubCategorias? Demonstre tudo através de um único gráfico